html, body {
  margin: 0;
  height: 100%;
  background: rgba(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle-container {
  position: relative;
  width: 800px;
  height: 800px;
}

.pair {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
}

.pair.a { transform: rotate(180deg); }
.pair.b { transform: rotate(120deg); }
.pair.c { transform: rotate(60deg); }
.pair.d { transform: rotate(0deg); }
.pair.e { transform: rotate(300deg); }
.pair.f { transform: rotate(240deg); }

.stack {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: center center;
}

.stack.l { transform: translateX(30px); }
.stack.r { transform: translateX(-30px); }

.algae-side {
  position: absolute;
  top: 50%;
  left: 50%;
  transform-origin: center center;
}

.algae-side.a { transform: rotate(180deg); }
.algae-side.b { transform: rotate(120deg); }
.algae-side.c { transform: rotate(60deg); }
.algae-side.d { transform: rotate(0deg); }
.algae-side.e { transform: rotate(300deg); }
.algae-side.f { transform: rotate(240deg); }

button {
  height: 40px;
  width: 50px;
  border-radius: 20px;
  border: 2px solid aqua;
  background: transparent;
  position: absolute;
  left: -25px;
  top: -20px;
  transition: background-color 0.2s, border-color 0.2s;
}

button.selected {
  background-color: lime;
  border-color: lime;
}

.l4 { transform: translateY(-125px); }
.l3 { transform: translateY(-175px); }
.l2 { transform: translateY(-225px); }

.green-circle {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: lime;
  border: 2px solid lime;
  left: -15px;
  top: -15px;
  transform: translateY(-75px) scale(1.2);
  cursor: pointer;
  transition: background-color 0.2s, border-color 0.2s, transform 0.2s;
}

.green-circle.selected {
  background-color: darkgreen;
  border-color: darkgreen;
  transform: translateY(-75px) scale(1.0);
}